/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: none; }

table { border-collapse: collapse; border-spacing: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; box-sizing: border-box; }

img, video { max-width: 100%; height: auto; }

.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }

.ir:before { content: ""; display: block; width: 0; height: 150%; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden, header dt { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, header dt.focusable:active, .visuallyhidden.focusable:focus, header dt.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, section:before, header:before, article:before, h3:before, .clearfix:after, section:after, header:after, article:after, h3:after { content: " "; display: table; }

.clearfix:after, section:after, header:after, article:after, h3:after { clear: both; }

.clearfix, section, header, article, h3 { *zoom: 1; }

.listreset, .listreset li, .listreset dt, .listreset dd { margin: 0; padding: 0; }

body { color: #736e6b; font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 400; font-size: 1em; line-height: 1.625; }
@media (min-width: 750px) { body { background-color: #eee; } }

a { text-decoration: none; color: #006daf; }
a:hover { color: #a92f41; }

h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: inherit; font-style: normal; }

strong { font-weight: 600; }

em { font-style: italic; }

.nowrap { white-space: nowrap; }

p { margin-bottom: 1em; }

section ul { list-style: square; list-style-position: outside; }
section ul li { margin-left: 2em; }
section ul li + li { margin-top: 1em; }

#wrap { width: 94%; max-width: 82em; margin: 2em auto; padding: 2em 0; border-top: 2px solid #eee; border-bottom: 2px solid #eee; }
#wrap:after { content: ""; display: table; clear: both; }
@media (min-width: 750px) { #wrap { border-top: 4px solid #006daf; border-bottom: 4px solid #006daf; padding: 2em 1em; background-color: white; -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25); box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25); } }
@media (min-width: 1000px) { #wrap { padding: 2em 2em; } }

@media (max-width: 619px) { header { text-align: center; } }
@media (min-width: 850px) { header { line-height: 3em; } }
@media (min-width: 850px) and (max-width: 999px) { header dl, header h1 { margin-top: 48px; } }
header h1 { font-family: 'Tungsten Narrow A', 'Tungsten Narrow B'; font-weight: 500; font-size: 3em; }
@media (max-width: 619px) { header h1 { clear: both; line-height: 1; } }
@media (min-width: 620px) and (max-width: 849px) { header h1 { line-height: 1; font-size: 2.5em; margin-top: 0.5em; width: 47.05882%; float: right; margin-left: 0; margin-right: 0; clear: none; } }
@media (min-width: 850px) { header h1 { width: 36.36364%; float: left; margin-right: -100%; margin-left: 22.72727%; clear: none; padding-left: 116px; } }
@media (min-width: 1000px) { header h1 { width: 20%; float: left; margin-right: -100%; margin-left: 12.5%; clear: none; padding-left: 0; } }
header dd.website { font-size: 2em; font-weight: 300; font-family: 'Tungsten Narrow A', 'Tungsten Narrow B'; letter-spacing: 1px; }
@media (max-width: 619px) { header dd.website { line-height: 1; } }
@media (min-width: 620px) and (max-width: 849px) { header dd.website { width: 47.05882%; float: right; margin-left: 0; margin-right: 0; clear: none; clear: right; line-height: 1; } }
@media (min-width: 850px) { header dd.website { width: 36.36364%; float: right; margin-left: 0; margin-right: 0; clear: none; } }
@media (min-width: 1000px) { header dd.website { position: relative; z-index: 5; width: 30%; float: left; margin-right: -100%; margin-left: 57.5%; clear: none; width: auto; } }
@media (max-width: 619px) { header dd.social { margin-top: 1em; } }
@media (min-width: 620px) and (max-width: 849px) { header dd.social { width: 47.05882%; float: right; margin-left: 0; margin-right: 0; clear: none; clear: right; } }
@media (min-width: 850px) { header dd.social { width: 36.36364%; float: right; margin-left: 0; margin-right: 0; clear: none; clear: right; } }
@media (min-width: 1000px) { header dd.social { width: 42.5%; float: right; margin-left: 0; margin-right: 0; clear: none; text-align: right; } }
header dd.social li { display: inline-block; }
header dd.social a { display: block; width: 30px; height: 48px; text-indent: 100%; overflow: hidden; background-size: contain; background-position: center center; background-repeat: no-repeat; }
@media (max-width: 619px) { header dd.social a { width: 40px; } }
@media (min-width: 1240px) { header dd.social a { margin-left: 8px; width: 38px; } }

#logo { position: relative; text-indent: 100%; overflow: hidden; width: 44.44444%; float: left; margin-right: -100%; margin-left: 0; clear: none; }
#logo span { display: block; width: 100%; height: 0; padding-top: 75%; background: transparent url("/gfx/logo.svg") center center no-repeat; background-size: contain; }
@media (max-width: 619px) { #logo span { padding-top: 125px; max-width: 175px; margin: 0 auto; } }
@media (min-width: 620px) and (max-width: 849px) { #logo { width: 23.52941%; float: left; margin-right: -100%; margin-left: 0; clear: none; }
  #logo span { padding-top: 100%; } }
@media (min-width: 850px) { #logo { width: 18.18182%; float: left; margin-right: -100%; margin-left: 0; clear: none; clear: both; } }
@media (min-width: 1000px) { #logo { width: 10%; float: left; margin-right: -100%; margin-left: 0; clear: none; margin-bottom: -1em; } }

#avatar { width: 44.44444%; float: right; margin-left: 0; margin-right: 0; clear: none; }
#avatar span { padding-top: 100%; width: 100%; max-width: 175px; display: block; background: url("/gfx/avatar.png") center center no-repeat; background-size: contain; }
@media (max-width: 619px) { #avatar span { padding-top: 125px; width: 90%; max-width: 125px; margin: 0 auto; } }
@media (min-width: 620px) and (max-width: 849px) { #avatar { width: 23.52941%; float: left; margin-right: -100%; margin-left: 26.47059%; clear: none; }
  #avatar span { width: 80%; margin: 0 auto; } }
@media (min-width: 850px) { #avatar { width: 36.36364%; float: left; margin-right: -100%; margin-left: 22.72727%; clear: none; max-width: 100px; margin-top: 1.5em; } }
@media (min-width: 1000px) { #avatar { width: 20%; float: left; margin-right: -100%; margin-left: 35%; clear: none; max-width: 125px; clear: left; margin-top: -2.5em; } }

h2 { text-align: center; clear: both; font-family: 'Tungsten Narrow A', 'Tungsten Narrow B'; font-weight: 500; font-size: 3em; text-transform: uppercase; letter-spacing: 1px; color: #00436f; }
@media (min-width: 850px) { h2 { margin-top: 0; font-size: 2em; text-align: right; width: 18.18182%; float: left; margin-right: -100%; margin-left: 0; clear: none; } }
@media (min-width: 1000px) { h2 { width: 10%; float: left; margin-right: -100%; margin-left: 0; clear: none; } }

article { clear: both; margin-bottom: 1em; }

h3 { margin: 0; }

.work h3, .work .date, .education h3, .education .date { font-size: 1.25em; }
@media (max-width: 499px) { .work h3, .work .date, .education h3, .education .date { text-align: center; } }
@media (max-width: 849px) { .work article, .education article { border-top: 1px solid #eee; padding-top: 1em; }
  .work article:first-of-type, .education article:first-of-type { border-top: 0; padding-top: 0; } }
@media (min-width: 500px) and (max-width: 849px) { .work .date, .education .date { width: 47.05882%; float: right; margin-left: 0; margin-right: 0; clear: none; } }
@media (min-width: 850px) and (max-width: 999px) { .work .date, .education .date { width: 36.36364%; float: right; margin-left: 0; margin-right: 0; clear: none; } }
@media (min-width: 1000px) { .work .date, .education .date { width: 20%; float: left; margin-right: -100%; margin-left: 12.5%; clear: none; } }
.work .position, .education .position { font-weight: 600; }
@media (min-width: 500px) and (max-width: 849px) { .work .position, .education .position { text-align: right; width: 47.05882%; float: left; margin-right: -100%; margin-left: 0; clear: none; } }
@media (min-width: 850px) and (max-width: 999px) { .work .position, .education .position { width: 36.36364%; float: left; margin-right: -100%; margin-left: 22.72727%; clear: none; } }
@media (min-width: 1000px) { .work .position, .education .position { width: 30%; float: left; margin-right: -100%; margin-left: 57.5%; clear: none; } }
@media (max-width: 499px) { .work .organization, .education .organization { display: inline; } }
@media (min-width: 500px) and (max-width: 849px) { .work .organization, .education .organization { text-align: right; width: 47.05882%; float: left; margin-right: -100%; margin-left: 0; clear: none; font-weight: 600; clear: left; } }
@media (min-width: 850px) and (max-width: 999px) { .work .organization, .education .organization { width: 36.36364%; float: left; margin-right: -100%; margin-left: 22.72727%; clear: none; font-weight: 600; clear: left; } }
@media (min-width: 1000px) { .work .organization, .education .organization { width: 20%; float: left; margin-right: -100%; margin-left: 35%; clear: none; } }
@media (max-width: 499px) { .work .location, .education .location { display: inline; } }
@media (min-width: 500px) and (max-width: 849px) { .work .location, .education .location { width: 47.05882%; float: right; margin-left: 0; margin-right: 0; clear: none; } }
@media (min-width: 850px) and (max-width: 999px) { .work .location, .education .location { width: 36.36364%; float: right; margin-left: 0; margin-right: 0; clear: none; } }
@media (min-width: 1000px) { .work .location, .education .location { width: 10%; float: right; margin-left: 0; margin-right: 0; clear: none; text-align: right; } }
@media (min-width: 850px) { .work p, .work ul, .education p, .education ul { width: 77.27273%; float: right; margin-left: 0; margin-right: 0; clear: none; clear: both; } }
@media (min-width: 1000px) { .work p, .work ul, .education p, .education ul { width: 65%; float: right; margin-left: 0; margin-right: 0; clear: none; clear: both; } }

.community h3, .community .date, .biblio h3, .biblio .date { font-size: 1.125em; }
@media (min-width: 600px) and (max-width: 849px) { .community article, .biblio article { text-align: center; padding-top: 1em; border-top: 1px solid #eee; }
  .community article:nth-of-type(100n+1), .community article:nth-of-type(100n+2), .biblio article:nth-of-type(100n+1), .biblio article:nth-of-type(100n+2) { border-top: 0; padding-top: 0; }
  .community article:nth-of-type(2n+1), .biblio article:nth-of-type(2n+1) { width: 47.05882%; float: left; margin-right: -100%; margin-left: 0; clear: none; clear: left; }
  .community article:nth-of-type(2n+2), .biblio article:nth-of-type(2n+2) { width: 47.05882%; float: right; margin-left: 0; margin-right: 0; clear: none; clear: right; }
  .community article .date, .biblio article .date { font-style: italic; font-size: 0.925em; }
  .community article strong, .biblio article strong { display: block; } }
@media (max-width: 599px) { .community .date, .biblio .date { text-align: center; font-style: italic; font-size: 0.925em; } }
@media (min-width: 850px) { .community .date, .biblio .date { width: 36.36364%; float: left; margin-right: -100%; margin-left: 22.72727%; clear: none; clear: both; } }
@media (min-width: 1000px) { .community .date, .biblio .date { width: 20%; float: left; margin-right: -100%; margin-left: 12.5%; clear: none; } }
@media (min-width: 850px) { .community h3, .biblio h3 { width: 77.27273%; float: right; margin-left: 0; margin-right: 0; clear: none; clear: both; } }
@media (min-width: 1000px) { .community h3, .biblio h3 { margin-bottom: 1em; width: 65%; float: right; margin-left: 0; margin-right: 0; clear: none; } }

@media (min-width: 850px) { .community strong:after { content: " "; display: block; } }

@media (min-width: 850px) { .biblio em:after { content: " "; display: block; } }

.creations h3, .creations p { font-size: 1.25em; margin-top: 0; }
.creations h3 { font-weight: bold; }
@media (max-width: 499px) { .creations h3 { text-align: center; } }
@media (min-width: 500px) and (max-width: 849px) { .creations article { padding-top: 1em; border-top: 1px solid #eee; }
  .creations article:nth-of-type(100n+1), .creations article:nth-of-type(100n+2) { border-top: 0; padding-top: 0; }
  .creations article:nth-of-type(2n+1) { width: 47.05882%; float: left; margin-right: -100%; margin-left: 0; clear: none; clear: left; }
  .creations article:nth-of-type(2n+2) { width: 47.05882%; float: right; margin-left: 0; margin-right: 0; clear: none; clear: right; } }
@media (min-width: 850px) and (max-width: 999px) { .creations article { padding-top: 1em; border-top: 1px solid #eee; }
  .creations article:nth-of-type(100n+1), .creations article:nth-of-type(100n+2) { border-top: 0; padding-top: 0; }
  .creations article:nth-of-type(2n+1) { width: 36.36364%; float: left; margin-right: -100%; margin-left: 22.72727%; clear: none; clear: left; }
  .creations article:nth-of-type(2n+2) { width: 36.36364%; float: right; margin-left: 0; margin-right: 0; clear: none; clear: right; } }
@media (min-width: 1000px) { .creations h3 { width: 20%; float: left; margin-right: -100%; margin-left: 12.5%; clear: none; }
  .creations p { width: 65%; float: right; margin-left: 0; margin-right: 0; clear: none; } }
