header {
  @extend .clearfix;

  @include breakpoint($header-mini) {
    text-align: center;
  }

  @include breakpoint($headers-left) {
    line-height: 3em;
  }

  dl, h1 {
    @include breakpoint($header-top-margin) {
      margin-top: 48px;
    }
  }

  h1 {
    font-family: 'Tungsten Narrow A', 'Tungsten Narrow B';
    font-weight: 500;
    font-size: 3em;

    @include breakpoint($header-mini) {
      clear: both;
      line-height: 1;
    }
    @include breakpoint($header-split) {
      line-height: 1;
      font-size: 2.5em;
      margin-top: 0.5em;
      @include grid-span(1, 3, $grid: $header-split-grid);
    }
    @include breakpoint($headers-left) {
      @include grid-span(1, 2);
      padding-left: 116px; // To make room for the avatar
    }
    @include breakpoint($header-expanded) {
      @include grid-span(1, 2);
      padding-left: 0;
    }
  }

  dt {
    @extend .visuallyhidden;
  }

  dd.website {
    font-size: 2em;
    font-weight: 300;
    font-family: 'Tungsten Narrow A', 'Tungsten Narrow B';
    letter-spacing: 1px;

    @include breakpoint($header-mini) {
      line-height: 1;
    }
    @include breakpoint($header-split) {
      @include grid-span(1, 3, $grid: $header-split-grid);
      clear: right;
      line-height: 1;
    }
    @include breakpoint($headers-left) {
      @include grid-span(1, 3);
    }
    @include breakpoint($header-expanded) {
      // This actually overlaps the social button div, so we need to make it
      // show up on top
      position: relative;
      z-index: 5;
      @include grid-span(1, 4);
      width: auto; // So the dd will end where the link does so the social icons are clickable
    }
  }
  dd.social {
    @include breakpoint($header-mini) {
      margin-top: 1em;
    }
    @include breakpoint($header-split) {
      @include grid-span(1, 3, $grid: $header-split-grid);
      clear: right;
    }
    @include breakpoint($headers-left) {
      @include grid-span(1, 3);
      clear: right;
    }
    @include breakpoint($header-expanded) {
      @include grid-span(2, 4);
      text-align: right;
    }

    li {
      display: inline-block;
    }

    a {
      display: block;
      width: 30px;
      height: 48px;

      @include breakpoint($header-mini) {
        width: 40px;
      }
      @include breakpoint($social-large) {
        margin-left: 12px;
        width: 38px;
      }

      text-indent: 100%;
      overflow: hidden;
      background: {
        size: contain;
        position: center center;
        repeat: no-repeat
      }

    }

  }
}

#logo {
  position: relative;
  text-indent: 100%;
  overflow: hidden;

  span {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 75%;
    background: transparent url('/gfx/logo.svg') center center no-repeat;
    background-size: contain;
  }

  @include grid-span(1, 1); // Can't put Singularity in a max-width breakpoint without reconfig
  @include breakpoint($header-mini) {
    span {
      padding-top: 125px;
      max-width: 175px;
      margin: 0 auto;
    }
  }

  @include breakpoint($header-split) {
    @include grid-span(1, 1, $grid: $header-split-grid);

    span {
      padding-top: 100%;
    }
  }

  @include breakpoint($headers-left) {
    @include grid-span(1, 1);
    clear: both;
  }

  @include breakpoint($header-expanded) {
    @include grid-span(1, 1);
    margin-bottom: -1em;
  }
}

#avatar {
  span {
    padding-top: 100%;
    width: 100%;
    max-width: 175px;
    display: block;
    background: url('/gfx/avatar.png') center center no-repeat;
    background-size: contain;
  }

  @include grid-span(1, 2); // Can't put Singularity in a max-width breakpoint without reconfig
  @include breakpoint($header-mini) {
    span {
      padding-top: 125px;
      width: 90%;
      max-width: 125px;
      margin: 0 auto;
    }
  }

  @include breakpoint($header-split) {
    @include grid-span(1, 2, $grid: $header-split-grid);
    span {
      // At this breakpoint, it shares a column with the logo, so we want it to
      // be a little narrower than it is afforded to be.
      width: 80%;
      margin: 0 auto;
    }
  }

  @include breakpoint($headers-left) {
    @include grid-span(1, 2);
    max-width: 100px;
    margin-top: 1.5em;
  }

  @include breakpoint($header-expanded) {
    @include grid-span(1, 3);
    max-width: 125px;
    clear: left;
    margin-top: -2.5em;
  }

}
