@import 'reset';
@import 'toolkit';
@import 'toolkit/kickstart';
@import 'breakpoint';
@import 'singularitygs';
@import 'compass/css3';
@import 'helpers';

@include sgs-change("debug",true);

/* COLORS: */
$blue: #00436F;
$bluelt: #006DAF;
$grey: desaturate(darken(#9C938E, 15%), 3%); // #525655;
$greydk: desaturate(lighten(#252120, 10%), 3%); // #E5E4DE; // lighten($grey, 50%);
$greylt: desaturate(darken(#E5E4DE, 5%), 3%); // #252120; // darken($grey, 30%);
$red: #a92f41; // #7B2519;
$redlt: #c0392b; // lighten($red, 15%);
$mint: #91c7a9;

$header-mini: max-width 619px;
$header-split: 620px 849px;
$header-top-margin: 850px 999px;
$header-expanded: 1000px;
$headers-left: 850px;
$social-large: 1240px;
$details-split: 500px 849px;
$details-table: 850px 999px;
$details-horizontal: 1000px;
$extras-single: max-width 849px;
$extras-dates-split: 1000px;
$creations-single: max-width 499px;
$creations-double: 500px 849px;
$creations-boxes: 850px 999px;
$creations-rows: 1000px;


@include add-grid(2);
$header-split-grid: 1 1 2; // A grid override we'll use in headers
@include add-grid(1 2 2 at 850px);
@include add-grid(1 2 2 2 1 at 1000px);
@include add-gutter(1/8 at 500px);
@include add-gutter(1/4 at 850px);


body {
  color: $grey;
  font-family: 'Whitney SSm A', 'Whitney SSm B';
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $blue;

  &:hover {
    color: $bluelt;
  }
}

#{headers()} {
  font-family: inherit;
  font-weight: inherit;
  font-style: normal;
}

strong {
  font-weight: 600;
}

section ul {
  list-style: square;
  list-style-position: outside;
  margin-top: 1em;

  li {
    margin-left: 2em;
    + li { margin-top: 1em; }
  }
}

#wrap {
  @include background-grid($color: #ddd);
  @include clearfix();
  width: 96%;
  max-width: 80em;
  margin: 1em auto;
}

header {
  @extend .clearfix;

  @include breakpoint($header-mini) {
    text-align: center;
  }

  @include breakpoint($headers-left) {
    line-height: 3em;
  }

  dl, h1 {
    @include breakpoint($header-top-margin) {
      margin-top: 48px;
    }
  }

  h1 {
    font-family: 'Tungsten Narrow A', 'Tungsten Narrow B';
    font-weight: 500;
    font-size: 3em;

    @include breakpoint($header-mini) {
      clear: both;
    }
    @include breakpoint($header-split) {
      font-size: 2.5em;
      margin-top: 0.5em;
      @include grid-span(1, 3, $grid: $header-split-grid);
    }
    @include breakpoint($headers-left) {
      @include grid-span(1, 2);
      padding-left: 116px; // To make room for the avatar
    }
    @include breakpoint($header-expanded) {
      @include grid-span(1, 2);
      padding-left: 0;
    }
  }

  dt {
    @extend .visuallyhidden;
  }

  dd.website {
    font-size: 1.25em;

    @include breakpoint($header-split) {
      @include grid-span(1, 3, $grid: $header-split-grid);
      clear: right;
    }
    @include breakpoint($headers-left) {
      @include grid-span(1, 3);
    }
    @include breakpoint($header-expanded) {
      @include grid-span(1, 3);
    }
  }
  dd.social {
    @include breakpoint($header-split) {
      @include grid-span(1, 3, $grid: $header-split-grid);
      clear: right;
    }
    @include breakpoint($headers-left) {
      @include grid-span(1, 3);
      clear: right;
    }
    @include breakpoint($header-expanded) {
      @include grid-span(2, 4);
      text-align: right;
    }

    li {
      display: inline-block;
    }

    a {
      display: block;
      width: 36px;
      height: 48px;

      @include breakpoint($social-large) {
        margin-left: 16px;
        width: 42px;
      }

      text-indent: 100%;
      overflow: hidden;
      background: {
        size: contain;
        position: center center;
        repeat: no-repeat
      }

    }

  }
}

#logo {
  position: relative;
  text-indent: 100%;
  overflow: hidden;

  span {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 75%;
    background: transparent url('/gfx/logo.svg') center center no-repeat;
    background-size: contain;
  }

  @include grid-span(1, 1); // Can't put Singularity in a max-width breakpoint without reconfig
  @include breakpoint($header-mini) {
    span {
      padding-top: 125px;
      max-width: 175px;
      margin: 0 auto;
    }
  }

  @include breakpoint($header-split) {
    @include grid-span(1, 1, $grid: $header-split-grid);

    span {
      padding-top: 100%;
    }
  }

  @include breakpoint($headers-left) {
    @include grid-span(1, 1);
    clear: both;
  }

  @include breakpoint($header-expanded) {
    @include grid-span(1, 1);
    margin-bottom: 3em;
  }
}

#avatar {
  span {
    padding-top: 100%;
    width: 100%;
    max-width: 175px;
    display: block;
    background: url('/gfx/avatar.png') center center no-repeat;
    background-size: contain;
  }

  @include grid-span(1, 2); // Can't put Singularity in a max-width breakpoint without reconfig
  @include breakpoint($header-mini) {
    span {
      padding-top: 125px;
      width: 90%;
      max-width: 125px;
      margin: 0 auto;
    }
  }

  @include breakpoint($header-split) {
    @include grid-span(1, 2, $grid: $header-split-grid);
    span {
      // At this breakpoint, it shares a column with the logo, so we want it to
      // be a little narrower than it is afforded to be.
      width: 80%;
      margin: 0 auto;
    }
  }

  @include breakpoint($headers-left) {
    @include grid-span(1, 2);
    max-width: 100px;
    margin-top: 1.5em;
  }

  @include breakpoint($header-expanded) {
    @include grid-span(1, 1);
    clear: left;
    margin-top: -2em;
    max-width: none;

    span {
      background-position: top center;
      max-width: 120px;
      margin: 0 auto;
    }
  }

}

section {
  @extend .clearfix;
}

// Word experience, etc titles
h2 {
  margin-top: 1em;
  text-align: center;
  clear: both;

  font-family: 'Tungsten Narrow A', 'Tungsten Narrow B';
  font-weight: 500;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: $blue;
  @include breakpoint($headers-left) {
    margin-top: 0;
    font-size: 2em;
    text-align: right;
    @include grid-span(1,1);
  }

  @include breakpoint($details-horizontal) {
    @include grid-span(1,1);
  }
}

// Individual jobs/positions/etc...
article {
  @extend .clearfix;
  clear: both;
  margin-bottom: 1em;
}

h3 {
  @extend .clearfix;
  margin: 0;
}

.work, .education {
  h3, .date {
    font-size: 1.25em;
  }

  .date {
    @include breakpoint($details-split) {
      @include grid-span(1,2);
    }
    @include breakpoint($details-table) {
      @include grid-span(1,3);
    }
    @include breakpoint($details-horizontal) {
      @include grid-span(1,2);
    }
  }

  .position {
    @include breakpoint($details-split) {
      text-align: right;
      @include grid-span(1,1);
    }
    @include breakpoint($details-table) {
      @include grid-span(1,2);
    }
    @include breakpoint($details-horizontal) {
      @include grid-span(1,4);
    }
    font-weight: 600;
  }

  .organization {
    @include breakpoint($details-split) {
      text-align: right;
      @include grid-span(1,1);
      clear: left;
    }
    @include breakpoint($details-table) {
      @include grid-span(1,2);
      clear: left;
    }
    @include breakpoint($details-horizontal) {
      @include grid-span(1,3);
    }
  }

  .location {
    @include breakpoint($details-split) {
      @include grid-span(1,2);
    }
    @include breakpoint($details-table) {
      @include grid-span(1,3);
    }
    @include breakpoint($details-horizontal) {
      @include grid-span(1,5);
      text-align: right;
    }
  }

  p, ul {

    @include breakpoint($headers-left) {
      @include grid-span(2, 2);
      clear: both;
    }

    @include breakpoint($details-horizontal) {
      @include grid-span(3, 3);
      clear: both;
    }
  }
}

.community, .biblio {
  h3, .date {
    font-size: 1.125em;
  }

  .date {
    @include breakpoint($extras-single) {
      text-align: center;
      font-style: italic;
      font-size: 0.925em;
    }
    @include breakpoint($headers-left) {
      @include grid-span(1, 2);
      clear: both;
    }
    @include breakpoint($extras-dates-split) {
      @include grid-span(1, 2);
    }
  }

  h3 {
    @include breakpoint($headers-left) {
      @include grid-span(2, 2);
      clear: both;
    }
    @include breakpoint($extras-dates-split) {
      margin-bottom: 1em;
      @include grid-span(3, 3);
      strong {
        display: block;
      }
    }
  }
}

.creations {
  h3, p {
    font-size: 1.25em;
    margin-top: 0;
  }

  h3 {
    font-weight: bold;
  }

  @include breakpoint($creations-single) {
    h3 {
      text-align: center;
    }
  }

  @include breakpoint($creations-double) {
    article {
      &:nth-child(2n) {
        @include grid-span(1, 1);
        clear: left;
      }
      &:nth-child(2n+1) {
        @include grid-span(1, 2);
      }
    }
  }

  @include breakpoint($creations-boxes) {
    article {
      &:nth-child(2n) {
        @include grid-span(1, 2);
        clear: left;
      }
      &:nth-child(2n+1) {
        @include grid-span(1, 3);
      }
    }
  }

  @include breakpoint($creations-rows) {
    h3 {
      @include grid-span(1,2);
    }
    p {
      @include grid-span(3,3);
    }
  }
}
