@import 'normalize';
@import 'toolkit';
@import 'toolkit/kickstart';
@import 'breakpoint';
@import 'singularitygs';
@import 'compass/css3';
@import 'helpers';

@include sgs-change("debug",true);

/* COLORS: */
$blue: #00436F;
$bluelt: #006DAF;
$grey: desaturate(darken(#9C938E, 15%), 3%); // #525655;
$greydk: desaturate(lighten(#252120, 10%), 3%); // #E5E4DE; // lighten($grey, 50%);
$greylt: desaturate(darken(#E5E4DE, 5%), 3%); // #252120; // darken($grey, 30%);
$red: #a92f41; // #7B2519;
$redlt: #c0392b; // lighten($red, 15%);
$mint: #91c7a9;

/*
font-family:'Adelle W01 Light';
font-family:'Adelle W01 Light Italic';
font-family:'Adelle W01 Regular';
font-family:'Adelle W01 Italic';
font-family:'LinotypeUniversW01-Ligh 723625';
font-family:'LinotypeUniversW01-LtCn';
font-family:'LinotypeUniversW01-Medi 723673';
font-family:'LinotypeUniversW01-MdCn';
font-family:'LinotypeUniversW01-Ligh 723622';
font-family:'LinotypeUniversW01-MdCm';

*/

$headers-left: 850px;
$details-split: 500px 849px;
$details-table: 850px 999px;
$details-horizontal: 1000px;
$extras-single: max-width 849px;
$extras-dates-split: 1000px;
$creations-single: max-width 499px;
$creations-double: 500px 849px;
$creations-boxes: 850px 999px;
$creations-rows: 1000px;

@include add-grid(1);
@include add-grid(2 at 500px);
@include add-grid(1 2 2 at 850px);
@include add-grid(1 2 2 2 1 at 1000px);
@include add-gutter(1/8 at 500px);
@include add-gutter(1/4 at 850px);


body {
  color: $grey;
  font-family: 'Whitney SSm A', 'Whitney SSm B';
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
}

#{headers()} {
  font-family: inherit;
  font-weight: inherit;
  font-style: normal;
}

strong {
  font-weight: 600;
}

#wrap {
  @include background-grid($color: #ddd);
  @include clearfix();
  max-width: 70em;
  margin: 1em auto;
}

section {
  @extend .clearfix;
}

.contact {
  @extend .listreset;
  dt {
    @extend .visuallyhidden;
  }
}

// Word experience, etc titles
h2 {
  text-align: center;
  clear: both;

  font-family: 'Tungsten Narrow A', 'Tungsten Narrow B';
  font-weight: 500;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: $blue;
  @include breakpoint($headers-left) {
    text-align: right;
    @include grid-span(1,1);
  }

  @include breakpoint($details-horizontal) {
    @include grid-span(1,1);
  }
}

// Individual jobs/positions/etc...
article {
  @extend .clearfix;
  clear: both;
}

h3 {
  @extend .clearfix;
  margin: 0;
}

.work, .education {
  h3, .date {
    font-size: 1.25em;
  }

  .date {
    @include breakpoint($details-split) {
      @include grid-span(1,2);
    }
    @include breakpoint($details-table) {
      @include grid-span(1,3);
    }
    @include breakpoint($details-horizontal) {
      @include grid-span(1,2);
    }
  }

  .position {
    @include breakpoint($details-split) {
      text-align: right;
      @include grid-span(1,1);
    }
    @include breakpoint($details-table) {
      @include grid-span(1,2);
    }
    @include breakpoint($details-horizontal) {
      @include grid-span(1,4);
    }
    font-weight: 600;
  }

  .organization {
    @include breakpoint($details-split) {
      text-align: right;
      @include grid-span(1,1);
      clear: left;
    }
    @include breakpoint($details-table) {
      @include grid-span(1,2);
      clear: left;
    }
    @include breakpoint($details-horizontal) {
      @include grid-span(1,3);
    }
  }

  .location {
    @include breakpoint($details-split) {
      @include grid-span(1,2);
    }
    @include breakpoint($details-table) {
      @include grid-span(1,3);
    }
    @include breakpoint($details-horizontal) {
      @include grid-span(1,5);
      text-align: right;
    }
  }

  p, ul {

    @include breakpoint($headers-left) {
      @include grid-span(2, 2);
      clear: both;
    }

    @include breakpoint($details-horizontal) {
      @include grid-span(3, 2);
      clear: both;
    }
  }
}

.community, .biblio {
  h3, .date {
    font-size: 1.125em;
  }

  .date {
    @include breakpoint($extras-single) {
      text-align: center;
    }
    @include breakpoint($headers-left) {
      @include grid-span(1, 2);
      clear: both;
    }
    @include breakpoint($extras-dates-split) {
      @include grid-span(1, 2);
    }
  }

  h3 {
    @include breakpoint($headers-left) {
      @include grid-span(2, 2);
      clear: both;
    }
    @include breakpoint($extras-dates-split) {
      @include grid-span(3, 3);
    }
  }
}

.creations {
  h3, p {
    font-size: 1.25em;
    margin-top: 0;
  }

  h3 {
    font-weight: bold;
  }

  @include breakpoint($creations-single) {
    h3 {
      text-align: center;
    }
  }

  @include breakpoint($creations-double) {
    article {
      &:nth-child(2n) {
        @include grid-span(1, 1);
        clear: left;
      }
      &:nth-child(2n+1) {
        @include grid-span(1, 2);
      }
    }
  }

  @include breakpoint($creations-boxes) {
    article {
      &:nth-child(2n) {
        @include grid-span(1, 2);
        clear: left;
      }
      &:nth-child(2n+1) {
        @include grid-span(1, 3);
      }
    }
  }

  @include breakpoint($creations-rows) {
    h3 {
      @include grid-span(1,2);
    }
    p {
      @include grid-span(2,3);
    }
  }
}
