.behance,
.icon-behance-grey { background-image: url('png/behance-grey.png'); background-repeat: no-repeat; }

.behance:hover,
.icon-behance-main { background-image: url('png/behance-main.png'); background-repeat: no-repeat; }

.icon-behance { background-image: url('png/behance.png'); background-repeat: no-repeat; }

.drupal,
.icon-drupal-grey { background-image: url('png/drupal-grey.png'); background-repeat: no-repeat; }

.drupal:hover,
.icon-drupal-main { background-image: url('png/drupal-main.png'); background-repeat: no-repeat; }

.icon-drupal { background-image: url('png/drupal.png'); background-repeat: no-repeat; }

.facebook,
.icon-facebook-grey { background-image: url('png/facebook-grey.png'); background-repeat: no-repeat; }

.facebook:hover,
.icon-facebook-main { background-image: url('png/facebook-main.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.fpx,
.icon-fpx-grey { background-image: url('png/fpx-grey.png'); background-repeat: no-repeat; }

.fpx:hover,
.icon-fpx-main { background-image: url('png/fpx-main.png'); background-repeat: no-repeat; }

.icon-fpx { background-image: url('png/fpx.png'); background-repeat: no-repeat; }

.github,
.icon-github-grey { background-image: url('png/github-grey.png'); background-repeat: no-repeat; }

.github:hover,
.icon-github-main { background-image: url('png/github-main.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('png/github.png'); background-repeat: no-repeat; }

.linkedin,
.icon-linkedin-grey { background-image: url('png/linkedin-grey.png'); background-repeat: no-repeat; }

.linkedin:hover,
.icon-linkedin-main { background-image: url('png/linkedin-main.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.twitter,
.icon-twitter-grey { background-image: url('png/twitter-grey.png'); background-repeat: no-repeat; }

.twitter:hover,
.icon-twitter-main { background-image: url('png/twitter-main.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

